:root{
  --titulo-h1: #dfdfdf;
  --titulo-h2: #ffffff88;
  --primario: #9873FF;
  --secundario: #E266FF;
  --subtitulos: #5D5EE8;
  --sombras: #D1D1D1;
  --corlor-tarjetas: #F1F1F1;
  --texto-oscuro: #828282;
  --Texto-claro: #CCCCCC;
  --footer-1: #696969;
  --footer-2: #4E4E4E;
  --texto-sobre-negros: #C9C9C9;
  --capa-oscura: rgba(00,00,00,0.6);
  --gradiente: linear-gradient(90deg, rgba(117,191,241,1) 0%, rgba(36,87,237,1) 80%, rgba(18,71,230,1) 100%);
}
*{
  margin:0;
  padding: 0;
  font-family:Roboto;
  font-size: medium;
}
.nav{
  background: var(--gradiente);
  display: flex;
  justify-content: space-between;
}
.logoContent{
  margin: 15px 40px;
}
.img {
  height: 52px;
  position: relative;
}
.listas{
  margin:  30px;
  text-align: center;
}
.list {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  color: var(--Texto-claro);
  margin: auto 15px;
  text-decoration: none;
}
.list:hover{
  color: var(--Texto-claro);
}
.socialMediacontent{
  background: var(--primario);
  height: 30px;
}
.socialMedia{
  display: flex;
  justify-content: right;
  margin: auto 30px;
}
.iconlist{
  text-align: center;
  margin: 5px 20px;
}
.iconlist:hover{
  opacity:50%;
}
.totalportadaContainer{
  text-align: center;
  background: url('./imagenes/Forma_triangulares-fondo-trasoarente.svg');
  background-position: center bottom, center;
  background-size: 102%;
  background-repeat: no-repeat;
}
.totalPortada{
  background-image: url(https://i.pinimg.com/originals/fe/d5/23/fed5236c27c4d159a7cadca910d93da2.jpg);
  background-repeat:repeat ;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  padding: 15% 0% 0% 0%; 
}
.tituloPortadaContainer{
  margin-bottom: 13%;
}
.titulosPortadah1{
  text-align: center;
  font-size: 70px;
  color: var(--titulo-h1);
}
.titulosPortadah2{
  text-align: center;
  font-size: 60px;
  color: var(--titulo-h2);
}
.buttonPortada{
  padding-bottom: 20%;
  display: flex;
  justify-content: center;
 align-content: center;
}
button{
  background-color: var(--primario);
  padding: 16px 32px;
  border-style: none;
  font-size: 25px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  color: var(--titulo-h1) ;
}
button:hover{
  color: black;
  background-color: var(--titulo-h1);
  border-color: var(--primario);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.6);
}
.quienSoy{
  background-color: white;
  text-align: center;
  padding: 10% 18% 15% 18%;
}
.quienSoytitle{
  margin-bottom: 2%;
  font-family: century;
  font-size: 98px;
  color: var(--primario);
}
.quienSoyline{
  margin: 0 auto 8% auto;
  border: 1px solid var(--secundario);
  border-radius: 5px;
  width: 362px;
  text-align: center;
}
.quiensoytext{
  font-size: 25px;
  color: var(--texto-oscuro);
}
.quienSoy{
  text-align: center;
  background: url('./imagenes/trianguloGris.svg');
  background-position: center bottom, center;
  background-size: 102%;
  background-repeat: no-repeat;
}