*{
  margin:0;
  padding: 0;
  font-family:Roboto;
  font-size: medium;
}
.app-header{
  background: rgb(117,191,241);
  background: linear-gradient(90deg, rgba(117,191,241,1) 0%, rgba(36,87,237,1) 80%, rgba(18,71,230,1) 100%);
  display: flex;
  justify-content: space-between;
}
.contentLogo{
  margin: 15px 40px;
}
.img {
  height: 52px;
  position: relative;
}
.listas{
  margin:  30px;
  text-align: center;
}
.list {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  color: #dfdfdf;
  margin: auto 15px;
  text-decoration: none;
}
.list:hover{
  color: #CCCCCC;
}
.icon{
  background: #9873FF;
  height: 30px;
}
.socialMedia{
  display: flex;
  justify-content: right;
  margin: auto 30px;
}
.iconlist{
  text-align: center;
  margin: 5px 20px;
}
.iconlist:hover{
  opacity:50%;
}
.totalPortada{
  position: absolute;
  width: auto;
  height: 650px;
}
.imgPortada{
  position: relative;
  width: max-content;
}
.imgPortada:before{
  content:'';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(00,00,00,0.6);
}
.imgPortadala{
  width: max-content;
  height: 650px;
}
.titulosPortada{
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}
.titulosPortada h1{
  font-size: 70px;
  color:#DFDFDF;
}
.titulosPortada h2{
  text-align: center;
  font-size: 60px;
  color: #FFFFFF98;
}
.button{
  background-color: #9873FF; /* Green */
  padding: 16px 32px;
  border-style: none;
  display: inline-block;
  font-size: 25px;
  transition-duration: 0.4s;
  cursor: pointer;

  margin: 25% auto auto auto;
  border-radius: 15px;
  color:#DFDFDF ;
}
.button:hover{
  color: black;
  background-color: #DFDFDF;
  border-color: #9873FF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.6);
}
