.icon{
    background: #9873FF;
    height: 30px;

}

.socialMedia{
    display: flex;
    justify-content: right;
    margin: auto 30px;
}

.iconlist{
    text-align: center;
    margin: 5px 20px;
}
.iconlist:hover{
    opacity:50%;
}